@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

$Dark: #000000;
$Light: #ffffff;

$Primary: #282c34;
$Secondary: #20232a;
$Accent: #61dafb;
$Anchor: #06bcee;

$BalooDa2: "Baloo 2";
