.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 45px;
  height: calc(100vh - 20px);

  .MenuBtn {
    position: fixed;
    top: 0;
    left: 0;
    width: 45px;
    height: 30px;
    padding: 5px;
    align-items: center;
    background: $Secondary;
    &:hover {
      opacity: 1;
      background: lighten($Secondary, 5);
    }
  }

  .NavContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    height: calc(100vh - 50px);
    background: $Secondary;

    .Top,
    .Bottom {
      width: 45px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .NavBtn {
        width: 45px;
        height: 45px;
        padding: 10px;
        opacity: 0.6;

        &:hover {
          opacity: 1;
          background: lighten($Secondary, 5);
        }
      }
    }

    .Top {
      height: calc(100% - 90px);
      overflow-y: hidden;
    }
    .Bottom {
      height: 90px;
    }
  }

  @media screen and (max-width: 500px) {
    .NavContainer {
      height: calc(100vh - 50px);
    }

    .MenuBtn {
      display: block;
    }
  }
}
